Hi {name}!
<p>Welcome to Scan - Rupaya’s Block Explorer! Thanks so much for joining us.</p>
<br/>
<p>Scan provides a user friendly, details and perfection-oriented user interface for Rupaya block explorer. From a user perspective, Scan brings Rupaya’s transparency to users, because all block, transaction, finality, smart contracts, DApp and token information are read from Rupaya and shown to users.</p>
<br/>
<p>That enough, let's explore <a href="https://scan.rupx.io/">Scan</a></p>
<br/>
<p>Have any questions? Just shoot us an email! We’re always here to help.</p>
<br/>
<p>Cheerfully yours,</p>
<p>Rupaya Team</p>
